<%= form_for(@contract, html: { class: 'fine_print' }) do |f| %>
  <% if @contract.errors.any? %>
    <div id='error_explanation' class='fine_print errors'>
      <h4 class='fine_print heading'>
        <%= t 'fine_print.error', count: @contract.errors.count %>
      </h4>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name, class: 'fine_print' %>
    <%= f.text_field :name, size: 40, class: 'fine_print text_field' %>
    <div class='fine_print field_description'>
      <%= t 'fine_print.contract.descriptions.name' %>
    </div>
  </div>
  <div class='field'>
    <%= f.label :title, class: 'fine_print' %>
    <%= f.text_field :title, size: 40, class: 'fine_print text_field' %>
    <div class='fine_print field_description'>
      <%= t 'fine_print.contract.descriptions.title' %>
    </div>
  </div>
  <div class='field'>
    <%= f.label :content, class: 'fine_print' %>
    <%= f.text_area :content, cols: 56, class: 'fine_print text_area' %>
  </div>

  <br>

  <div class='actions'>
    <%= f.submit nil, class: 'fine_print submit' %>
  </div>
<% end %>
