<%# Clients of this partial must supply the following variables:
    agreements
    user
    notice %>

<%= stylesheet_link_tag 'fine_print/application' %>
<%= javascript_include_tag 'fine_print/dialog' %>

<% agreements.each_with_index do |agreement, index| %>
  <div id="<%= "fine_print_dialog_#{index}" %>" title="<%= agreement.name %>" class="fine_print agreement dialog">
    <%= render :partial => 'fine_print/agreements/agreement', :locals => {
        :agreement => agreement,
        :index => index,
        :user => user,
        :notice => notice,
        :remote => true } %>
  </div>

  <script>
    fine_print_init_dialog(<%= index %>);
  </script>
<% end %>

