<%= form_for(@agreement) do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation" class="fine_print errors">
      <h2 class="fine_print heading"><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class => "fine_print label" %><br/>
    <%= f.text_field :name, :size => 40, :class => "fine_print text_field" %><br/>
    (e.g., "Terms of Use"; changing this will reset the version count)<br/><br/>
  </div>
  <div class="field">
    <%= f.label :content, :class => "fine_print label" %><br/>
    <%= f.text_area :content, :cols => 56, :class => "fine_print text_area" %><br/><br/>
  </div>
  <div class="field">
    <%= f.label :confirmation_text, :class => "fine_print label" %><br/>
    <%= f.text_field :confirmation_text, :size => 40, :class => "fine_print text_field" %><br/>
    (e.g., "I have read and agree to the terms and conditions above")<br/><br/>
  </div>
  <div class="field">
    <%= f.label :ready, "Display the agreement's name to users?", :class => "fine_print label" %>
    <%= f.check_box :display_name, :class => "fine_print checkbox" %><br/><br/>
  </div>
  <div class="field">
    <%= f.label :ready, "Display the agreement's version to users?", :class => "fine_print label" %>
    <%= f.check_box :display_version, :class => "fine_print checkbox" %><br/><br/>
  </div>
  <div class="field">
    <%= f.label :ready, "Display the agreement's last updated date to users?", :class => "fine_print label" %>
    <%= f.check_box :display_updated, :class => "fine_print checkbox" %><br/><br/>
  </div>
  <div class="field">
    <%= f.label :ready, "Display a confirmation checkbox that users have to click?", :class => "fine_print label" %>
    <%= f.check_box :display_confirmation, :class => "fine_print checkbox" %><br/><br/>
  </div>
  <div class="field">
    <%= f.label :ready, "Ready to be used?", :class => "fine_print label" %>
    <%= f.check_box :ready, :class => "fine_print checkbox" %><br/><br/>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "fine_print submit" %>
  </div>
<% end %>
