<h1>FinePrint agreements</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agreements.each do |agreement| %>
  <tr>
    <td><%= agreement.name %></td>
    <td><%= agreement.version %></td>
    <td><%= link_to 'Show', agreement %></td>
    <td><%= link_to (agreement.can_be_edited? ? 'Edit' : 'New Version'), edit_agreement_path(agreement) %></td>
    <td><% if agreement.can_be_destroyed? %><%= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agreement', new_agreement_path %>
