<h1 class="fine_print heading">FinePrint agreements</h1>

<table class="fine_print index">
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agreements.each do |agreement| %>
  <tr>
    <td><%= agreement.name %></td>
    <td><%= agreement.version %></td>
    <td><%= link_to 'Show', agreement, :class => "fine_print link" %></td>
    <td><% if agreement.can_be_edited_by?(@user) %>
          <%= link_to 'Edit', edit_agreement_path(agreement), :class => "fine_print link" %>
        <% else %>
          <%= link_to 'New version', agreement_new_version_path(agreement), :class => "fine_print link" %>
        <% end %></td>
    <td><% if agreement.can_be_destroyed_by?(@user) %>
          <%= link_to 'Delete', agreement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fine_print link" %>
        <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agreement', new_agreement_path, :class => "fine_print link" %>
