<p id="notice"><%= notice %></p>

<p>
  <%= @agreement.name %>
</p>

<p>
  <%= @agreement.content %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
