<h1 class="fine_print heading">Accepted FinePrint agreements</h1>

<table class="fine_print index">
  <tr>
    <th>User ID</th>
    <th>Agreement name</th>
    <th>Agreement version</th>
    <th>Date accepted</th>
    <th></th>
  </tr>

<% @user_agreements.each do |user_agreement| %>
  <tr>
    <td><%= user_agreement.user.id %></td>
    <td><%= user_agreement.agreement.name %></td>
    <td><%= user_agreement.agreement.version %></td>
    <td><%= user_agreement.created_at %></td>
    <td><%= link_to 'Terminate', user_agreement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fine_print link" %></td>
  </tr>
<% end %>
</table>
