<h1 class="fine_print heading">Accepted FinePrint agreements</h1>

<table class="fine_print index">
  <tr class="fine_print heading-row">
    <th>User ID</th>
    <th>Agreement name</th>
    <th>Agreement version</th>
    <th>Date accepted</th>
    <th></th>
  </tr>

<% @user_agreements.each do |user_agreement| %>
  <tr class="fine_print data-row <%= cycle('even', 'odd') %>">
    <td><%= user_agreement.user.id %></td>
    <td><%= user_agreement.agreement.name %></td>
    <td><%= user_agreement.agreement.version %></td>
    <td><%= user_agreement.created_at %></td>
    <td><%= link_to 'Terminate', user_agreement, method: :delete, data: { confirm: 'User will be asked to accept the agreement again. Are you sure?' }, :class => "fine_print link" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', root_path, :class => "fine_print link" %>
