<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_agreement.user_id %>
</p>

<p>
  <b>Agreement:</b>
  <%= @user_agreement.agreement_id %>
</p>


<%= link_to 'Edit', edit_user_agreement_path(@user_agreement) %> |
<%= link_to 'Back', user_agreements_path %>
