<%= form_for([@contract, @signature], html: { class: 'fine_print' }) do |f| %>
  <% if @signature.errors.any? %>
    <div id='error_explanation' class='fine_print errors'>
      <h4 class='fine_print heading'>
        <%= t 'fine_print.error', count: @signature.errors.count %>
      </h4>

      <ul>
        <% @signature.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :accept,
                t('fine_print.signature.actions.accept'),
                class: 'fine_print' %>
    <%= check_box_tag :signature_accept, class: 'fine_print check_box' %>
  </div>

  <br>

  <div class='actions'>
    <%= f.submit t('fine_print.signature.actions.sign'),
                 class: 'fine_print submit' %>
  </div>
<% end %>
