<%= form_for([@contract, @signature], :html => {:class => 'fine_print'}) do |f| %>
  <% if @signature.errors.any? %>
    <div id='error_explanation' class='fine_print errors'>
      <h4 class='fine_print heading'>Error:</h4>

      <ul>
        <% @signature.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :accept, 'I have read and accept the terms above.', :class => 'fine_print' %>
    <%= check_box_tag :signature_accept, :class => 'fine_print check_box' %>
  </div>
  <div class='actions'>
    <%= f.submit 'I agree', :class => 'fine_print submit' %>
  </div>
<% end %>
